.tabs {
	display: flex;
	justify-content: center;
}

.add-tab {
	background-color: #f0f0f0;
	padding: 10px;
    font-weight: 600;
    font-size: 1.3em;
	margin: 0 5px;
}

.add-tab:hover {
	cursor: pointer;
}

.map-box .glyphicon {
	margin-left: 8px !important;
}

.tab {
	background-color: #f0f0f0;
	padding: 10px;
    font-weight: 600;
    font-size: 1.3em;
	margin: 0 5px;
	border-radius: 4px;
}

.tab:hover {
	cursor: pointer;
}

.tab.selected {
	background-color: #0ca4a5;
	color: #fff;
}

#map {
	height: 600px;
	width: 100%;
}

.map-box {
	padding: 0;
}

.map-info {
	position: absolute;
    z-index: 1 !important;
    margin: 10px;
}

.map-title {
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
    font-weight: 500;
    font-size: 1.1em;
	width: fit-content;
}

.map-title:hover {
	cursor: pointer;
}

.map-description {
	padding: 5px;
    background-color: #ffffff8c;
    border-radius: 4px;
}

.map-description.ng-hide-add, .map-description.ng-hide-remove {
  transition: all 0.3s ease-in;
}

.map-description.ng-hide {
  opacity: 0;
}


.gm-style-iw {
	width: 400px !important;
	top: 15px !important;
	left: 0px !important;
	background-color: #fff;
	box-shadow: 0 1px 6px rgba(178, 178, 178, 0.6);
	border: 1px solid rgba(72, 181, 233, 0.6);
	border-radius: 2px 2px 10px 10px;
}
#iw-container {
	margin-bottom: 10px;
}
#iw-container .iw-title {
	font-family: 'Open Sans Condensed', sans-serif;
 	font-size: 1.3em;
	font-weight: 600;
	padding: 10px;
	background-color: #48b5e9;
	color: white;
	margin: 0;
	border-radius: 2px 2px 0 0;
}

#iw-container .iw-content {
	width: 400px;
	font-size: 13px;
	padding: 15px 5px 20px 15px;
	word-wrap: break-word;
}

.iw-content img {
	float: right;
	margin: 0 5px 5px 10px;	
	width: 100px;
	height: 100px;
	object-fit: contain;
}

.iw-subTitle {
	font-size: 16px;
	font-weight: 700;
	padding: 5px 0;
}

.iw-bottom-gradient {
	position: absolute;
	width: 326px;
	height: 25px;
	bottom: 10px;
	right: 18px;
	background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
	background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
	background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
	background: -ms-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
}

#autocomplete, #pinsearch {
	position: absolute;
    right: 10px;
    z-index: 1 !important;
    margin: 10px;
	width: auto !important;
}


.btn-radio {
	width: 100%;
}
.img-radio {
	opacity: 0.5;
	margin-bottom: 5px;
}

.space-20 {
    margin-top: 20px;
}



/* =============================================
* RADIO BUTTONS
=============================================== */

#radios label {
	cursor: pointer;
	position: relative;
}

#radios label + label {
	margin-left: 15px;
}

input[type="radio"] {
	opacity: 0; /* hidden but still tabable */
	position: absolute;
}

input[type="radio"] + span {
	font-family: 'Material Icons';
	color: #B3CEFB;
	border-radius: 50%;
	padding: 12px;
	transition: all 0.4s;
	-webkit-transition: all 0.4s;
}

input[type="radio"]:checked + span {
	color: #D9E7FD;
  background-color: #0CA4A5;
}

input[type="radio"]:focus + span {
	color: #fff;
}

/* ================ TOOLTIPS ================= */

#radios label:hover::before {
	content: attr(for);
	font-family: Roboto, -apple-system, sans-serif;
	text-transform: capitalize;
	font-size: 11px;
	position: absolute;
	top: 170%;
	left: 0;
	right: 0;
	opacity: 0.75;
	background-color: #323232;
	color: #fff;	
	padding: 4px;
	border-radius: 3px;
  display: block;
}

#radios {
	text-align: center;
	margin 0 auto;
}

.manImg {
    height: 25px;
}

.material-icons {
    display: inline;
}

.star-rating {
  line-height:70px;
  font-size:2.3em;
	text-align: center;
}

.star-rating .fa-star{color: #fec943;}
.edit-button {
	z-index: 1 !important;
	position: absolute ;
	bottom: 50px;
	right: 80px;
	color: #fff;
	padding: 10px 15px;
	font-size: 1.2em;
	font-weight: 500;
	background-color: #dbb68f;
	border-radius: 5px;
}

.edit-button:hover {
	cursor: pointer;
}

.ok-button {
	background-color: #43cc04;
}

#pin-box {
	position: absolute;
	right: 25px;
	top: 60px;
	height: 400px;
	width: 300px;
	z-index: 1 !important;
	border-radius: 4px;
	overflow-y: scroll;
}

.pin-item:hover {
	cursor: pointer;
	background-color: rgba(202, 202, 202, 0.93);
}

.pin-item {
	display: flex;
	justify-content: center;
	align-items: center ;
	padding: 8px;
	border-radius: 4px;
	background-color: rgba(255, 255, 255, 0.9)
}

.pin-name {
	display: flex;
	justify-content: center;
	align-items: center;

	padding: 10px;
	border-radius: 4px;
}
