.submit-button {
    text-align: center;
    padding: 1.5em;
}

#mapModal {
    height:300px;
}

.modal-title {
    text-align: center;
}

.content-modal-size {
    min-height: 600px;
}

#autocomplete {
    z-index: 100000; 
}

.pac-container {
    z-index: 100000;
}