<!DOCTYPE html>
<html lang="en" ng-app="mappinApp">
	<head>
		<meta charset="utf-8">
		<title>Mappin</title>

		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="css/index.css">
		<link rel="stylesheet" type="text/css" href="css/modal-crear.css">

		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

		<!-- Optional theme -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

		<script src="https://code.jquery.com/jquery-3.2.1.min.js"
				integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
				crossorigin="anonymous"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular.min.js"></script>

		<script src="scripts/index.js"></script>        
				     <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBwYnZm1IS1-rkEh-3luW6PJyziAk-5QCA&libraries=places&callback=initMap"></script>
	</head>

	<body ng-controller="HomeController as homeCtrl">

		<!-- Static navbar -->
		<nav class="navbar navbar-default navbar-static-top">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" rel="home" href="index.html"><img style="max-width:130px; margin-top: 2px;" src="img/logo.png"></a>
				</div>
				<div id="navbar" class="navbar-collapse collapse">
					<ul class="nav navbar-nav navbar-right">
						<li><button class="create-map btn btn-default" data-toggle="modal" data-target="#createModal" onclick="openModal()">Crear mapa</button></li>
					</ul>
				</div><!--/.nav-collapse -->
			</div>
		</nav>


		<div class="container-fluid">
			<div class="row">
				<div class="col-md-12">
					<div class="most-popular-title">Más destacados</div>
				</div>
			</div>

			<div ng-repeat="map in maps">
				<div class="clearfix" ng-if="$index % 3 == 0"></div>
				<div class="col-md-4">
					<div class="map-card" ng-click="homeCtrl.clickedMap($index)">
						<div class="map-name">
							{{map.name}}
						</div>

						<div class="map-image">
							<img src="https://maps.googleapis.com/maps/api/staticmap?center={{map.initial.latLng.lat}},{{map.initial.latLng.lng}}&zoom={{map.initial.zoom}}&size=600x300&maptype=roadmap
									  &key=AIzaSyCT7zRfmxgpFg5R5OxWMLtQGbefVeum6IE">
						</div>
						<div class="map-card-description" ng-bind="maps[$index].description">
						</div>
					</div>
				</div>
			</div>

		</div> <!-- /container -->



        <div id="createModal" class="modal fade" role="dialog">
     
     <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBwYnZm1IS1-rkEh-3luW6PJyziAk-5QCA&libraries=places&callback=initMap"></script>
    
    <script src="scripts/create-form.js"></script>
        <div class="modal-dialog">
             Modal content
            <div class="modal-content content-modal-size">
                <div class="modal-body">
                  <div class="col-md-12">
                      <div class="row">
                          <div class="modal-title">
                              <h1>Crear mapa</h1> 
                          </div>
                      </div>     
                    <form>
                        <div class="row">
                            <div class="form-group col-md-8 col-md-offset-2">
                            <input type="text" class="form-control" id="MapName" aria-describedby="mapName" placeholder="Nombre del mapa">
                            </div>
                        </div>
                        <div class="row">
                          <div class="form-group col-md-8 col-md-offset-2">
                            <input type="text" class="form-control" id="MapAuthor" aria-describedby="mapAuthor" placeholder="Autor">
                          </div>
                        </div>
                        <div class="row">
                          <div class="form-group col-md-8 col-md-offset-2">
                            <input type="email" class="form-control" id="MapEmail" aria-describedby="mapEmail" placeholder="Email">
                          </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-8 col-md-offset-2">
                                <input id="autocomplete" class="controls form-control" type="text" placeholder="Ingresar lugar">
                            </div>
                        </div>
                        <div class="row">
                            <div id="mapModal" class="col-md-10 col-md-offset-1"></div>

                        </div>
                        <div class="row">
                          <div class="form-group col-md-8 col-md-offset-2" style="margin-top: 10px;">
                            <input type="text-area" class="form-control" id="MapDescription" aria-describedby="mapDescription" placeholder="Descripción">
                          </div>
                        </div>
                        <div class="row">
                            <div class="submit-button">
                               <button type="submit" class="btn btn-primary" onclick="getFormData()">Crear Mapa</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            </div>
        </div>
    </div>

	</body>
</html>
